[Unit]
Description=VirtIO Userspace
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=5s

ExecStartPre=@BASE_SBINDIR@/modprobe virtio-uio
ExecStart=@BINDIR@/uio_test
KillMode=mixed
TimeoutStopSec=3
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
